<div class="weather-background">
  <div class="container mt-3">
    <h1 class="text-center text-light">Angular Weather Application</h1>


    <div class="row mt-5">
      <div class="col-4">
      <img class="sun" src="../assets/images.png">
      </div>
      <div class="col-8">
        <div class="form-inline d-flex ">
          <select id="city" [(ngModel)]="selectedCity" class="form-control mr-2">
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
          <button (click)="getWeatherData()" class="btn btn-primary ml-auto">Get Weather</button>
        </div>
      
       
        <div *ngIf="weatherData" class="mt-4">
          <h2>Weather in {{ weatherData.location.name }} , {{ weatherData.location.region }}</h2>
          <p>Temperature: {{ weatherData.current.temp_c }} °C</p>
          <p>Condition: {{ weatherData.current.condition.text }}</p>
        </div>
      </div>
      </div>
    </div>
    

  


</div>


<router-outlet></router-outlet>
